.product-wrapper {
  width: 100%;
  padding: 20px 40px;
  padding-bottom: 120px; 
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

/* Grid: 4 columns */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;
}

/* Responsive */
@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

/* Card styling */
.product-grid .card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* PAGINATION */
.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.page-btn,
.page-number {
  border: 1px solid #ccc;
  background: rgb(241, 233, 233)!important;
  padding: 8px 14px;
  border-radius: 50px;
  cursor: pointer;
  color: black;
  transition: 0.2s ease;
}

.page-number.active {
  background: #95e1a9 !important;
  color: black !important;
  border-color: #53f25b !important;
}

.page-btn:hover,
.page-number:hover {
  background: #eee !important;
}

.page-btn:disabled {
  background: #f3f3f3;
  cursor: not-allowed;
}

/* Add Product Button */
.add-product-btn {
  background-color: #2e7d32; 
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.add-product-btn:hover {
  background-color: #1b5e20;
}
