html, body, #root {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;       
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f4f8;
  padding: 20px;           
}

.box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
     background-color: #fafafa;
    color: black !important;
}

.button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease;
}

.button:hover {
  background-color: #0056b3;
}

.link{
  text-decoration: none;
  
}